strong {
  color: var(--color-primary);
}
.about__container {
  display: flex;
  align-self: center;
  justify-self: center;
}
.about__content {
  width: 80%;
  position: relative;
  text-align: center;
  border-radius: 2rem;
  padding: 3rem 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.about__me--image {
  border-radius: 2rem;
  overflow: hidden;
  transform: scale(85%);
  transition: var(--transition);
}

.about__me--image:hover {
  transform: scale(100%);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.about__card-a {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  padding: 2rem;
  text-align: center;
  border-radius: 2rem;
  transition: var(--transition);
}

.about__card-a:hover {
  background-color: transparent;
  border-color: var(--color-primary-variant);
  cursor: pointer;
}
.about__icon {
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

/*======= MEDIUM DEVICES =======*/

@media screen and (max-width: 1024px) {
  .about__content {
    width: 95%;
  }
}

/*======= SMALL DEVICES =======*/

@media screen and (max-width: 600px) {
  .about__content {
    width: 100%;
  }
  .about__cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .about__content p {
    margin: 1.5rem 0;
  }
}
